<div class="unav-flex unav-items-center unav-order-5 md:unav-order-4 unav-mr-[60px] unav-ml-3">
    <form class="unav-border-2 unav-border-ny-mid unav-rounded-lg">

            <label for="unav-search" class="unav-absolute unav-ml-4 unav-mt-1 unav-text-ny-dark unav-z-10"> Search </label>

            <button class="unav-hidden" id="unav-search-clear"><i class="fa-solid fa-xmark"><span class="sr-only">clear search </span></i></button>

            <input type="search" id="unav-search-input" name="usearch" required class="unav-p-2 unav-h-8 unav-z-20 unav-relative unav-bg-transparent focus:unav-bg-white md:focus:unav-w-[500px]"/>

        <button class="unav-bg-ny-blue unav-h-8 unav-rounded-r unav-px-4" type="submit">
            <span aria-hidden="true"><i class="fa-solid fa-magnifying-glass unav-text-white"></i></span>
        </button>
    </form>




</div>