<div class="unav-flex unav-items-center md:unav-order-2 unav-order-1 unav-w-full md:unav-w-auto">
    <span class="unav-mx-4 unav-text-12">
        An Official Website of New York State
    </span>
    <div class="unav-flex unav-flex-row">
        <button class="unav-text-ny-blue unav-text-12 unav-underline hover:unav-text-blue-900 focus:unav-text-blue-900" id="trust-disclose" aria-expanded="false" aria-controls="site-disclosure">
            Here's how you know  
        </button>
        <div class="unav-mx-2 unav-text-sm unav-text-ny-blue" aria-hidden="true">
            <i class="fa-solid fa-angle-down" id="unav-arrow"></i>
        </div>
    </div>
</div>

