 <div class="unav-flex unav-flex-row">
      <button class="unav-text-ny-links unav-underline hover:unav-text-blue-900 focus:unav-text-blue-900" id="trust-disclose" aria-expanded="false" aria-controls="site-disclosure">
        Here's how you know  
      </button>
      <div class="unav-mx-2" aria-hidden="true">
        <span class=""> icon </span>
      </div>
</div>