<div class="unav-bg-ny-blue unav-min-h-[75px] unav-flex unav-flex-col md:unav-flex-row unav-items-center unav-text-white unav-font-bold">
    <h1 class="unav-text-2xl  unav-my-4 unav-mx-12 dsari"> Example State Agency </h1>
    <ul class="unav-mx-4 unav-grow unav-hidden lg:unav-flex unav-text-sm ">
        <li class="unav-m-4">Navigation Item 1</li>
        <li class="unav-m-4">Navigation Item 2</li>
        <li class="unav-m-4">Navigation Item 3</li>
    </ul>
</div>