---
layout: layout.njk
title: NYS Trusted Identity Banner Demo
---

<section class="unav-text-center">
    <h1 class="unav-font-bold unav-text-2xl unav-my-16">{{title}} </h1> 
    <a class="unav-text-ny-links unav-underline hover:unav-text-blue-900 focus:unav-text-blue-900" href="/pa11y-reports"> Automated Pa11y Results for this component </a>
</section>