@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .dsari {
        font-family: 'D Sari Bold', sans-serif;
    }

    .unav-text-12 {
        font-size: 12px;
    }

    .language-links {
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        margin-top: 10px;
    }

    .language-links li a{
        font-weight: 700;
        padding: 9px 36px;
        display: flex;
    }

    .language-links li a:hover, a:focus{
       background-color: #ededed;
      
    }
}