<section aria-label="An official website of the state of new york" id="unav-banner">
  <header class="unav-flex unav-flex-col md:unav-flex-row unav-items-center unav-text-12 unav-p-2 unav-pl-8">
    <a href="https://ny.gov" class="unav-flex unav-flex-col md:unav-flex-row unav-items-center">
      <img src="https://static-assets.ny.gov/sites/all/themes/ny_gov/images/nygov-logo.png"  class="unav-h-6 unav-hidden md:unav-block" alt="logo of the state of new york" />
      <span class="unav-mx-4">
        An Official Website of the State of New York.
      </span>
    </a>
    <div class="unav-flex unav-flex-row">
      <button class="unav-text-ny-links unav-underline hover:unav-text-blue-900 focus:unav-text-blue-900" id="trust-disclose" aria-expanded="false" aria-controls="site-disclosure">
        Here's how you know  
      </button>
      <div class="unav-mx-2" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="unav-arrow" class="unav-rotate-180" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
      </div>
    </div>
  </header>
</section>