<section aria-label="An official website of the state of new york" id="unav-banner">
  <header class="unav-flex unav-flex-row  unav-flex-wrap">
   
   
    {{
      logo ({})
    }}
    
    {{
      button ({})
    }}
    {{
      disclosure({})
    }}
    

    
    {{
      translate ({})
    }}
    {{
      search ({})
    }}
  

  </header>
</section>
   
    