<section aria-label="An official website of the state of new york">
  <header class="unav-flex unav-flex-col md:unav-flex-row unav-items-center unav-text-12 unav-p-2 unav-pl-8">
    <img src="https://static-assets.ny.gov/sites/all/themes/ny_gov/images/nygov-logo.png"  class="unav-h-6" alt="logo of the state of new york" />
    <span class="unav-mx-4">
      An Official Website of the State of New York.
    </span>
    <button class="unav-text-ny-links unav-underline" id="trust-disclose">
      Here's how you know  
    </button>
    <div class="unav-mx-2" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="unav-down" class-"" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="unav-up" class="unav-hidden" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
      </svg>
    </div>
  </header>
</section>
