<a href="https://ny.gov" class="unav-flex unav-flex-col md:unav-flex-row unav-items-center md:unav-order-1 unav-order-3 unav-w-16 unav-ml-8 md:unav-ml-[60px]">
    <img src="https://static-assets.ny.gov/sites/all/themes/ny_gov/images/nygov-logo.png" 
    class="unav-h-10 unav-my-2.5" alt="logo of the state of new york" />
</a>