<div class="unav-flex unav-flex-col md:unav-flex-row unav-justify-between unav-items-center unav-py-6 unav-px-16 unav-bg-gray-50 unav-text-sm" id="offical-site-disclosure">
  <div class="">
    <h2 class="">New York State Agency websites use ny.gov</h2>
    <p>Official state websites are in a ny.gov domain or use this trusted identity banner. </p>
  </div>
  <div class="">
    <h2 class="">State websites are secured with HTTPS</h2>
    <p> </p>
  </div>
  <div class="">
    <h2 class="">Trusted applications are secured with NY.GOV ID </h2>
    <p> </p>
  </div>
</div>