<div class="unav-flex unav-items-center unav-order-3 unav-ml-auto unav-mr-3">
        <div class="smt-selector">
            <nav aria-labelledby="langnav_header">
                <ul class="smt-menu">
                    <li class="smt-trigger" data-once="bind-click-event">
                        <button class="smt-trigger-link unav-text-base unav-text-ny-blue " tabindex="0" id="translate-button" aria-expanded="false">
                             <span aria-hidden="true"><i class="fa-solid fa-globe unav-text-black"></i></span>
                            <span class="smt-lang unav-font-bold unav-px-2" id="langnav_header">Translate</span>
                            <span aria-hidden="true"><i class="fa-solid fa-angle-down" id="translate-arrow"></i></span>
                        </button>
                        <ul class="language-links unav-hidden" id="translate-list" aria-hidden="true">
                            <li class="smt-item">
                                <a translate="no" lang="en" class="smt-link sl_norewrite" href="#">English</a>
                            </li>
                            <li class="smt-item">
                                <a translate="no" lang="es" class="smt-link sl_norewrite" href="#">Español</a>
                            </li>
                            <li class="smt-item">
                                <a translate="no" lang="zh" class="smt-link sl_norewrite" href="#">中文</a>
                            </li>
                            <li class="smt-item">
                                <a translate="no" lang="zh-traditional" class="smt-link sl_norewrite" href="#">繁體中文</a>
                            </li>
                            <li class="smt-item">
                                <a translate="no" lang="ru" class="smt-link sl_norewrite" href="#">Русский</a>
                            </li>
                            <li class="smt-item">
                                <a translate="no" lang="yi" class="smt-link sl_norewrite" href="#">יידיש</a>
                            </li>
                            <li class="smt-item">
                                <a translate="no" lang="bn" class="smt-link sl_norewrite" href="#">বাংলা</a>
                            </li>
                            <li class="smt-item">
                                <a translate="no" lang="ko" class="smt-link sl_norewrite" href="#">한국어</a>
                            </li>
                            <li class="smt-item">
                                <a translate="no" lang="ht" class="smt-link sl_norewrite" href="#">Kreyòl Ayisyen</a>
                            </li>
                            <li class="smt-item">
                                <a translate="no" lang="it" class="smt-link sl_norewrite" href="#">Italiano</a>
                            </li>
                            <li class="smt-item">
                                <a translate="no" lang="ar" class="smt-link sl_norewrite" href="#">العربية</a>
                            </li>
                            <li class="smt-item">
                                <a translate="no" lang="pl" class="smt-link sl_norewrite" href="#">Polski</a>
                            </li>
                            <li class="smt-item">
                                <a translate="no" lang="fr" class="smt-link sl_norewrite" href="#">Français</a>
                            </li>
                            <li class="smt-item">
                                <a translate="no" lang="ur" class="smt-link sl_norewrite" href="#">اردو</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

</div>