<div class="unav-flex unav-items-center unav-order-3 unav-ml-auto">
    <i class="fa-solid fa-globe"></i>
    <button class="unav-text-base unav-text-ny-blue unav-pl-2.5"> Translate </button>
    <i class="fa-solid fa-angle-down" id="unav-arrow-translate"></i>
</div>