<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{title}}">
    <meta name="generator" content="11ty/eleventy">    
    {% include '_css-link.njk' %}
    {% include '_js-link.njk' %}
    <title>{{ title }}</title>
  </head>
  <body>
  <a href="#main-site-content-for-skiplink" class="unav-sr-only focus:unav-not-sr-only unav-text-blue-700 unav-underline">Skip to Main Content</a>
    {% from '../_includes/_components.njk' import unav%}
  
    <main class="" id="main-site-content-for-skiplink">
    {{ content | safe }}
    </main>
   
  </body>
</html>